:root {
  --i: 0;
  --r: 0;
  --a: 5000;
  --clr: 0;
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: sans-serif;
  background: #2e2e30;
  color: #d1c4ab;
}
main {
  flex: 1;
  display: flex;
  @media (orientation: portrait) {
    flex-direction: column;
  }
}
section {
  flex: none;
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  // box-shadow: 1px 1px 0 0 #4b4545;
  > div {
    position: relative;
    flex: 0 0 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 1px 1px 0 0 #4b4545;
    &::after {
      content: attr(data-label);
      position: absolute;
      font-size: 2vmin;
      top: 2em;
      left: 2em;
      line-height: 1.6;
    }
  }
}

.n::after {
  border-bottom: 1px solid;
}
.d::after {
  border-top: 1px solid;
}

aside {
  flex: 1;
  display: flex;
  background: #4b4545;
  overflow: auto;
  padding: 2em;
  -webkit-overflow-scrolling: touch;
  code {
    white-space: pre-wrap;
  }
}
.o {
  transform:  translateZ(0);
  svg {
    position: absolute;
    pointer-events: none;
    width: 50vmin;
    height: 50vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    border: 1px dashed #4b4545;
    background: #272729;
    border-radius: 100%;
    will-change: transform;
  }
  circle {
    fill: #d4e34a;
    stroke: #fc6f3a;
    stroke-width: 5px;
  }
  polyline {
    fill: transparent;
    stroke: unquote('hsl(var(--clr), 73%, 59%)'); //#d4e34a;
    stroke-width: 3px;
  }
  line {
    stroke: #4b4545;
    stroke-width: 3px;
  }
}
.r {
  z-index: 1;
  > div {
    position: relative;
    width: 25vmin;
    height: 25vmin;
    box-shadow: 0 0 0 2px #36ccbf inset;
    border-radius: 100%;
  }
  span {
    box-shadow: 0 0 0 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    animation: roll calc((var(--a) * 1ms) / var(--i)) linear var(--i);
    transform: rotate(calc(var(--r) * 1deg));
    transform-origin: 0 50%;
    will-change: transform;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 1em;
      height: 1em;
      border-radius: 100%;
    }
    &::before {
      left: 0;
      transform: translate(-50%, -50%);
      background: currentColor;
    }
    &::after {
      right: 0;
      transform: translate(50%, -50%);
      box-shadow: 0 0 0 1px #d4e34a;
    }
  }
}

.f {
  position: relative;
  width: 100%;
  h1 {
    color: #d4e34a;
    font-size: 7vmin;
    margin: 0 0 .3em 0;
  }
  h2 {
    margin-bottom: 0;
  }
  small {
    font-size: .35em;
    color: #36ccbf;
  }
}

label input {
  opacity: 0;
  position: absolute;
  &:checked + span {
    background: #fc6f3a
  }
}

.button {
  display: inline-block;
  border: 0;
  font-size: 3vmin;
  line-height: 1;
  padding: .5ch 1ch;
  background: #4b4545;
  font-weight: 200;
  color: #fff;
  border-radius: .4ch;
}

input[type="range"] {
	appearance: none;
	outline: none;
  padding: 0;
  border: 0;
	font-size: 1em;
	width: 9vmin;
  height: 1.2em;
  border-radius: 1em;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 0 0 1px #d1c4ab;
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 1em;
	height: 1em;
	border: none;
	border-radius: 1em;
	background-image: none;
	transform: scale(0.8);
	transition: .3s ease-out;
  box-shadow: 0 0 1em 0 #000;
}
.a::-webkit-slider-thumb {
	background: #d4e34a;
}
.b::-webkit-slider-thumb {
	background: #36ccbf;
}
input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {
	appearance: none;
	transform: scale(1.3);
}
